* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #4b0082;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background-color: #5b7f56;
    color: white;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2);
    border-right: 4px solid #3c4d38;
}

.sidebar .logo {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, padding 0.3s;
    margin: 5px 0;
}

.sidebar ul li a:hover {
    background-color: #4a684c;
    padding-left: 30px;
    color: #f1f1f1;
}

.sidebar .menu-heading {
    font-size: 1.1rem;
    font-weight: bold;
    color: #dcdcdc;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Main Content */
main {
    margin-left: 270px;
    padding: 20px;
}

/* Container */
.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1.head {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin: 20px;
    padding: auto;
}

/* Form */
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    grid-column: span 2;
}

button:hover {
    background-color: #350062;
}

.save-button {
    text-align: center;
    
}


