
/*-------main code-----*/
form{
    padding: 20px;
    margin: 200px;
    

}
.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1.head {
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table thead {
    background-color: #f1f1f1;
}
table th, table td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd;
}
.priority {
    color: red;
    font-weight: bold;
}
div {
    display: flex;
    align-items: center;
    margin: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    

}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4a2abe;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
   
}
.th1{
    width: 20%;
    text-align: center;
}
.th2{
    width: 80%;
   text-align: center;
}