/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px; /* Increased width for more emphasis */
    height: 100vh;
    background-color: #5b7f56; /* Fresh, bold green */
    color: white;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2); /* Adding subtle shadow */
    border-right: 4px solid #3c4d38; /* Darker green border for depth */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.sidebar .logo {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, padding 0.3s;
    margin: 5px 0;
}

.sidebar ul li a:hover {
    background-color: #4a684c;
    padding-left: 30px;
    color: #f1f1f1;
}

.sidebar ul li a:active {
    background-color: #3c4d38;
}

.sidebar .menu-heading {
    font-size: 1.1rem;
    font-weight: bold;
    color: #dcdcdc;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}


/* Main Content */
main {
    margin-left: 270px;
    padding: 20px;
}

.container {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Task Form */
form {
    margin-bottom: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

form button {
    padding: 12px 25px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background-color: #218838;
}
